.grid-container {
    display: grid;
    gap: 0px;
    grid-template-columns:auto auto auto;
    background-color:rgba(0, 0, 0, 0.648);
    padding: 0px;
    width:0px;
    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.575);
    padding: 160px;
    font-size: 100px;
    text-align: center;
    
  }
  
  body {
    background:no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  

           
  .circle {
      width: 250px;
      height:250px;
      border-radius: 250rem;
      background: rgb(21, 27, 11);
      color: #fff;
      margin-left: auto;
      margin-top: auto;
      font-size: 76%;
      text-align: center;
      transform: rotate(300deg) translate(-4em) rotate(-300deg);

    }
      
    .img1{ 
     
     float: left;
     left: 100%;
     position: justify;
     background-image: url("file:///C:/Users/47486/OneDrive/Skrivebord/web%20utvikling/magazine/images/314342028_649415676759098_658596126870409569_n%20(1).jpg");
     background-position: top left;
     background-position: 300px 300px;
     background-position: 100% 100%;
     transform: rotate(500deg) translate(3.79em)  rotate(-500deg);
     margin-top: auto;
     margin-left: auto;
     
    }


    .box {
        width: 350px;
        border: 1px solid black;
        padding: 70px;
        margin: 3px;
        background-color:rgb(21, 27, 11) ;
        transform: rotate(500deg) translate(3.79em) rotate(-500deg);
        color: #fff;
        top: 100%;
        line-height: 25px;
        
    }

    .small{
        position: relative;
        bottom: 25%;
        line-height: 5px;
        text-align: center;
        text-size-adjust: 100p;

    }

    .h6{
        position: relative;
        vertical-align: top;
        top: 100%;
        margin-top: auto ;
        margin: -100px;
        
    }

    .article{
        text-align: center;
        text-size-adjust: 10px;
        position: relative;
        vertical-align: bottom;
        bottom: 850px;
        margin-bottom: auto;
        line-height: 40px;
        margin: 400px;
        font-size: xx-large;
        height: 0px;
        width: 585.5px;
        padding: 1px;   
    }

    .text{
        font-family: 'Euphoria Script', cursive;
        font-family: 'Luxurious Script', cursive;
    }

    .main {
        font-family: 'Euphoria Script', cursive;
        font-family: 'Luxurious Script', cursive;
        font-size: 119px ;
        line-height: 72.99px;
        

    }
     